### <a name='0'></a>Import libraries

In [1]:
import numpy as np
import pandas as pd

np.__version__

'1.19.2'

### <a name='1'></a> Exercise 211
The following _DataFrame_ object is given:
```
df = pd.DataFrame(data={'height': [175., 178.5, 185., 191., 184.5, 183., 168.]})
```
Discretize _height_ into 3 intervals of equal width. Assign the result to the new _height_cut_ column.

In [2]:
df = pd.DataFrame(data={'height': [175., 178.5, 185., 191., 184.5, 183., 168.]})
df['height_cut'] = pd.cut(df.height,3)
df

   height          height_cut
0   175.0  (167.977, 175.667]
1   178.5  (175.667, 183.333]
2   185.0    (183.333, 191.0]
3   191.0    (183.333, 191.0]
4   184.5    (183.333, 191.0]
5   183.0  (175.667, 183.333]
6   168.0  (167.977, 175.667]

### <a name='2'></a> Exercise 212
Discretize the _height_ variable into 3 intervals with the given form:
* (160, 175]
* (175, 180]
* (180, 195]

Assign the result to the new column _height_cut_2_.

In [3]:
df['height_cut_2'] = pd.cut(df.height,[160,175,180,195])
df

   height          height_cut height_cut_2
0   175.0  (167.977, 175.667]   (160, 175]
1   178.5  (175.667, 183.333]   (175, 180]
2   185.0    (183.333, 191.0]   (180, 195]
3   191.0    (183.333, 191.0]   (180, 195]
4   184.5    (183.333, 191.0]   (180, 195]
5   183.0  (175.667, 183.333]   (180, 195]
6   168.0  (167.977, 175.667]   (160, 175]

### <a name='3'></a> Exercise 213
Discretize the _height_ variable into 3 intervals with the given form:
* (160, 175]
* (175, 180]
* (180, 195]

and assign them appropriate labels:
* small
* medium
* high

Assign the result to the new column _height_cut_3_.

In [4]:
df['height_cut_3'] = pd.cut(df.height,[160,175,180,195],labels=['small','medium','high'])
df

   height          height_cut height_cut_2 height_cut_3
0   175.0  (167.977, 175.667]   (160, 175]        small
1   178.5  (175.667, 183.333]   (175, 180]       medium
2   185.0    (183.333, 191.0]   (180, 195]         high
3   191.0    (183.333, 191.0]   (180, 195]         high
4   184.5    (183.333, 191.0]   (180, 195]         high
5   183.0  (175.667, 183.333]   (180, 195]         high
6   168.0  (167.977, 175.667]   (160, 175]        small

### <a name='4'></a> Exercise 214
Remove the _height_cut_ and _height_cut_2_ columns from the _df_ object.

In [5]:
df = df.drop(columns=['height_cut','height_cut_2'])
df

   height height_cut_3
0   175.0        small
1   178.5       medium
2   185.0         high
3   191.0         high
4   184.5         high
5   183.0         high
6   168.0        small

Rename the _height_cut_3_ column to _height_level_.

In [6]:
df = df.rename(columns={"height_cut_3": "height_level"})
df

   height height_level
0   175.0        small
1   178.5       medium
2   185.0         high
3   191.0         high
4   184.5         high
5   183.0         high
6   168.0        small

### <a name='5'></a> Exercise 215
Get the 0-1 encoding of the _df_ object with the _pd.get_dummies () _ function.

In [7]:
pd.get_dummies(data = df)

   height  height_level_small  height_level_medium  height_level_high
0   175.0                   1                    0                  0
1   178.5                   0                    1                  0
2   185.0                   0                    0                  1
3   191.0                   0                    0                  1
4   184.5                   0                    0                  1
5   183.0                   0                    0                  1
6   168.0                   1                    0                  0

### <a name='6'></a> Exercise 216
The following df object is given:
```
df = pd.DataFrame(data={'lang': [['PL', 'ENG'], ['GER', 'ENG', 'PL', 'FRA'], ['RUS']]})
```
Build a new column named _length_ that will take the length of the _lang_ column list.

In [8]:
df = pd.DataFrame(data={'lang': [['PL', 'ENG'], ['GER', 'ENG', 'PL', 'FRA'], ['RUS']]})
df['length'] = df.lang.apply(lambda x: len(x))
df

                  lang  length
0            [PL, ENG]       2
1  [GER, ENG, PL, FRA]       4
2                [RUS]       1

### <a name='7'></a> Exercise 217 
Build a new column named _PL_flag_ which will be 1 when 'PL' is listed in the _lang_ column, opposite 0.

In [9]:
df['PL_flag'] = df.lang.apply(lambda x: 1.0 if 'PL' in x else 0.0)
df

                  lang  length  PL_flag
0            [PL, ENG]       2      1.0
1  [GER, ENG, PL, FRA]       4      1.0
2                [RUS]       1      0.0

### <a name='8'></a> Exercise 218
The following _df_ object is given:

```
df = pd.DataFrame(data={'website': ['wp.pl', 'onet.pl', 'google.com']})
```
Break the _website_ column relative to the period (.) Into two columns named _portal_ and _ending_.

In [10]:
df = pd.DataFrame(data={'website': ['wp.pl', 'onet.pl', 'google.com']})
df['portal'] = df.website.apply(lambda website: website.split('.')[0])
df['ending'] = df.website.apply(lambda website: website.split('.')[1])
df

      website  portal ending
0       wp.pl      wp     pl
1     onet.pl    onet     pl
2  google.com  google    com

In [11]:
df.website.str.split(pat = '.',expand=True).rename(columns = {0:'portal', 1:'ending'})

   portal ending
0      wp     pl
1    onet     pl
2  google    com

### <a name='9'></a> Exercise 219
Cut all lines of the _df_ object for which the _portal_ column contains the letter 'o'.

In [12]:
df[df.portal.str.contains("o")]

      website  portal ending
1     onet.pl    onet     pl
2  google.com  google    com

### <a name='10'></a> Exercise 210
Replace all _com_ extensions in the _ending_ column with _org_.

In [13]:
df.ending = df.ending.str.replace("com",'org')
df

      website  portal ending
0       wp.pl      wp     pl
1     onet.pl    onet     pl
2  google.com  google    org